{:deps {poly/tool        {:local/root "../../components/agent-tool"}
        poly/transcript  {:local/root "../../components/agent-transcript"}
        poly/session     {:local/root "../../components/agent-session-memory"}
        poly/agent       {:local/root "../../components/agent"}
        poly/log         {:local/root "../../components/log"}
        poly/ollama      {:local/root "../../components/ollama"}
        poly/uuid        {:local/root "../../components/uuid"}
        poly/mimeo       {:local/root "../../bases/mimeo"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}

           :uberjar {:main nervestaple.mimeo.mimeo.core}}}
