{:aliases {:dev
           {:extra-paths ["development/src"]

            :extra-deps {;; Components
                         poly/ollama {:local/root "components/ollama"}
                         poly/agent  {:local/root "components/agent"}

                         ;; Bases
                         poly/mimeo-base {:local/root "bases/mimeo-base"}


                         metosin/jsonista            {:mvn/version "0.3.13"}
                         org.clojure/clojure           {:mvn/version "1.12.4"}
                         org.clojure/tools.deps        {:mvn/version "0.28.1578"}
                         io.github.clojure/tools.build {:mvn/version "0.10.12"}}
            :jvm-opts ["-Djdk.attach.allowAttachSelf"]}

           :test {:extra-paths []
                  :extra-deps  {org.clojars.lispyclouds/contajners {:mvn/version "1.0.7"}}}

           :poly {:extra-deps {polylith/clj-poly {:mvn/version "0.3.32"}}
                  :main-opts  ["-m" "polylith.clj.core.poly-cli.core"]}

           :build {:deps       {org.clojure/tools.deps        {:mvn/version "0.28.1578"}
                                io.github.clojure/tools.build {:mvn/version "0.10.12"}}
                   :paths      ["build/resources"]
                   :ns-default build}}}
